doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Invoice
    link(href="/styles/styles.css", rel="stylesheet", type="text/css", media="all")
  body
    section.kud-Sender
      h2.kud-Sender-heading= sender.name
      p.kud-Sender-title= sender.title
      p= sender.address
      p= sender.postalCode + " " + sender.city
      p= sender.site

    section.kud-Titles
      p.kud-Titles-heading= "Facture n°" + titles.invoiceNumber
      p= "Date : " + titles.date

    section.kud-Addressee
      p.kud-Addressee-heading= addressee.name
      p= addressee.address
      p= addressee.postalCode + " " + addressee.city

    div.kud-Separator

    section.kud-Content
      h2.kud-Content-heading Objet du devis
      p= content.topic

      h2.kud-Content-heading Livrables
      p= content.deliverable.description + " :"
      ul
        each point in content.deliverable.points
          li= point

      h2.kud-Content-heading Cession des droits d'auteur
      p= content.copyrights

      table.kud-Details
        tr
         th Prestation
         th Estimatif temps
         th Total
        tr
          td Création Homepage
          td 3 jours
          td 1500€
        tr.kud-Details-total
          td Total
          td
          td 1500€

    div.kud-Separator

    section.kud-LittleSentence
      p= littleSentence
